@import url(https://fonts.googleapis.com/css?family=Plus+Jakarta+Sans:regular,500,800&display=swap);

@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: rgb(94, 98, 130);
  line-height: 1;
  font-family: "Arial";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Arial";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: #f1f1f1;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 76.875rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.block__sub-titile {
  color: rgb(68, 117, 242);
  font-size: 18px;
  font-weight: 800;
  line-height: 23px;
  letter-spacing: 9.5%;
  margin-bottom: 0.75rem;
}

.block__title {
  font-weight: 800;
  line-height: 65px;
  letter-spacing: 1%;
  color: #000;
}

.blue {
  color: #4475F2;
}

.header {
  position: sticky;
  top: 0;
  width: 100%;
  min-height: 132px;
  z-index: 20;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  color: rgb(154, 158, 166);
}

.header._header-scroll {
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
}

.header._header-scroll .header__logo {
  color: #fff;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 132px;
}

.header__logo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 700;
  line-height: 23px;
}

.header__logo span {
  padding-left: 10px;
}

.menu {
  max-width: 50%;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 10px;
}

.menu__item {
  font-size: 14px;
  line-height: 18px;
  text-transform: capitalize;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.header__container {
  -webkit-animation: to 1.2s 1 linear alternate;
          animation: to 1.2s 1 linear alternate;
  -webkit-animation-timing-function: cubic-bezier(0.68, -1.55, 0.265, 1.55);
          animation-timing-function: cubic-bezier(0.68, -1.55, 0.265, 1.55);
}

@-webkit-keyframes to {
  0% {
    -webkit-transform: translate(0px, -100%);
            transform: translate(0px, -100%);
  }

  100% {
    -webkit-transform: translate(0px, 0%);
            transform: translate(0px, 0%);
  }
}

@keyframes to {
  0% {
    -webkit-transform: translate(0px, -100%);
            transform: translate(0px, -100%);
  }

  100% {
    -webkit-transform: translate(0px, 0%);
            transform: translate(0px, 0%);
  }
}

.icon-menu {
  display: none;
}

.footer {
  /* Primary */
  background: rgb(68, 117, 242);
  height: 119px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__container p {
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0px;
}

.hero {
  padding-top: 62px;
  padding-bottom: 40px;
  position: relative;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 1.25rem;
}

.hero__container::before,
.hero__container::after {
  content: "";
  position: absolute;
  width: 100vw;
  height: 150%;
  border-radius: 50px;
  background-color: #4475F2;
  -webkit-box-shadow: 0 30px 60px 0 rgba(71, 74, 87, 0.25);
          box-shadow: 0 30px 60px 0 rgba(71, 74, 87, 0.25);
  bottom: 0;
  -webkit-transform-origin: left bottom;
      -ms-transform-origin: left bottom;
          transform-origin: left bottom;
}

.hero__container::before {
  left: calc(50% + 30px);
  -webkit-transform: skewX(-20deg);
      -ms-transform: skewX(-20deg);
          transform: skewX(-20deg);
}

.hero__container::after {
  -webkit-transform: skewX(31deg);
      -ms-transform: skewX(31deg);
          transform: skewX(31deg);
  left: calc(50% + 444px);
}

.hero__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 80%;
          flex: 0 1 80%;
  position: relative;
  z-index: 2;
}

.content__title {
  color: #181E4B;
  font-weight: 700;
  line-height: 117.105263%;
  /* 89/76 */
  letter-spacing: -4px;
  -webkit-transform: translate(-50%, 0px);
      -ms-transform: translate(-50%, 0px);
          transform: translate(-50%, 0px);
}

.content__title a {
  text-decoration: underline;
  text-shadow: 0 0 8px #fff;
}

.content-hero {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: start;
      align-content: start;
  justify-items: center;
}

.content-hero__text {
  font-size: 1.875rem;
  -webkit-transform: translate(-50%, 0px);
      -ms-transform: translate(-50%, 0px);
          transform: translate(-50%, 0px);
}

.content-hero__text p {
  line-height: 1.875;
}

.content-hero__text p:not(:last-child) {
  margin-bottom: 0.625rem;
}

.content-hero__buton-bg {
  background-color: #000;
  padding: 1rem 0rem;
  margin: 0 auto 0 0;
  border-radius: 0.625rem;
  -webkit-transform: translate(-50%, 0px);
      -ms-transform: translate(-50%, 0px);
          transform: translate(-50%, 0px);
  text-align: center;
}

.content-hero__button {
  padding: 1.125rem 3.375rem;
  line-height: 1.5625;
  color: #fff;
  font-weight: 700;
  background-color: #4475F2;
  border-radius: 0.625rem;
  -webkit-box-shadow: 0 30px 60px 0 rgba(68, 117, 242, 0.25);
          box-shadow: 0 30px 60px 0 rgba(68, 117, 242, 0.25);
  margin: 0 auto 0 0;
  width: 210px;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.images-hero {
  position: relative;
  z-index: 2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[2];
  grid-template-rows: repeat(2, 1fr);
}

.images-hero__image {
  border-radius: 0.625rem;
  -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.25);
  max-width: 100%;
}

.images-hero__item--01 {
  -ms-grid-row-span: 2;
  grid-row: span 2;
  -ms-grid-row-align: end;
      align-self: end;
  padding-bottom: 10px;
}

.images-hero__item--03 {
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-grid-row-span: 2;
  grid-row: span 2;
}

.images-hero__item--04 {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  -ms-grid-column-align: end;
      justify-self: end;
}

.features__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}

.features__column {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100%;
  border-radius: 26px;
  -webkit-box-shadow: 0px 30px 60px 0px rgba(71, 74, 87, 0.25);
          box-shadow: 0px 30px 60px 0px rgba(71, 74, 87, 0.25);
  background-color: #4475F2;
}

.features__img {
  padding: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features__col-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 2%;
}

.features__text {
  color: rgb(94, 98, 130);
  font-weight: 500;
  line-height: 30px;
  text-align: center;
  letter-spacing: 2%;
}

.services__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 200px;
  margin-bottom: 4.375rem;
}

.services__body:nth-child(3) {
  margin-top: 4.375rem;
  margin-bottom: 0rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.services__image {
  -webkit-transform: translate(-50%, 0px);
      -ms-transform: translate(-50%, 0px);
          transform: translate(-50%, 0px);
}

.services__image img {
  max-width: 600px;
  height: 25rem;
}

.services__content {
  -webkit-transform: translate(50%, 0px);
      -ms-transform: translate(50%, 0px);
          transform: translate(50%, 0px);
  width: 1000px;
}

.services__title {
  color: #000;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 2%;
}

.services__text {
  font-weight: 500;
  font-size: 1.25rem;
  letter-spacing: 2%;
}

.reviews__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.reviews__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 366px;
  height: 455px;
  border: 1px solid rgb(222, 222, 222);
  -webkit-box-shadow: 0px 2.77px 2.21px 0px rgba(0, 0, 0, 0.02), 0px 6.65px 5.32px 0px rgba(0, 0, 0, 0.03), 0px 12.52px 10.02px 0px rgba(0, 0, 0, 0.04), 0px 22.34px 17.87px 0px rgba(0, 0, 0, 0.04), 0px 41.78px 33.42px 0px rgba(0, 0, 0, 0.05), 0px 100px 80px 0px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 2.77px 2.21px 0px rgba(0, 0, 0, 0.02), 0px 6.65px 5.32px 0px rgba(0, 0, 0, 0.03), 0px 12.52px 10.02px 0px rgba(0, 0, 0, 0.04), 0px 22.34px 17.87px 0px rgba(0, 0, 0, 0.04), 0px 41.78px 33.42px 0px rgba(0, 0, 0, 0.05), 0px 100px 80px 0px rgba(0, 0, 0, 0.07);
  -webkit-transform: translate(0px, 100%);
      -ms-transform: translate(0px, 100%);
          transform: translate(0px, 100%);
}

.reviews__image img {
  max-width: 200px;
}

.reviews__text {
  max-width: 252px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.2px;
}

.reviews__name {
  color: rgb(35, 166, 240);
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.2px;
}

.reviews__title {
  color: rgb(24, 30, 75);
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.2px;
  text-align: center;
}

.reviews__column ._active {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.by__container {
  max-width: 800px;
}

.by__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.by__column {
  max-width: 248px;
}

.by__title {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: center;
}

.by__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5625rem;
}

.b2 {
  margin-bottom: 1.625rem;
}

._anim-items {
  opacity: 0;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

._active {
  opacity: 1;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

._active:nth-child(2) {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

@media (min-width: 76.875em) {
  body {
    font-size: 1rem;
  }

  .block__title {
    font-size: 3rem;
  }

  .block__title {
    line-height: 4.0625rem;
  }

  .block__title {
    margin-bottom: 5.625rem;
  }

  .header__logo {
    margin-right: 7.8125rem;
  }

  .menu__list {
    -webkit-column-gap: 2.5rem;
       -moz-column-gap: 2.5rem;
            column-gap: 2.5rem;
  }

  .hero {
    margin-bottom: 6.25rem;
  }

  .content__title {
    font-size: 4.75rem;
  }

  .content-hero {
    gap: 1.875rem;
  }

  .content-hero {
    padding-right: 1.25rem;
  }

  .images-hero {
    gap: 1.6875rem;
  }

  .features {
    padding-top: 6.25rem;
  }

  .features {
    margin-bottom: 6.25rem;
  }

  .features__column {
    gap: 1.5625rem;
  }

  .services {
    padding-top: 6.25rem;
  }

  .reviews {
    padding-top: 6.25rem;
  }

  .reviews {
    margin-bottom: 6.25rem;
  }

  .reviews__image {
    margin-bottom: 1.875rem;
  }

  .reviews__text {
    margin-bottom: 1.5625rem;
  }

  .reviews__name {
    margin-bottom: 0.9375rem;
  }

  .location {
    padding-top: 6.25rem;
  }

  .location {
    margin-bottom: 6.25rem;
  }

  .by {
    padding-top: 6.25rem;
  }

  .by {
    margin-bottom: 6.25rem;
  }

  .by__title {
    margin-bottom: 3.75rem;
  }
}

@media (min-width: 75em) {
  .services__title {
    font-size: 3.25rem;
  }

  .services__title {
    margin-bottom: 2.625rem;
  }

  .services__text {
    line-height: 1.875rem;
  }

  .services__text p:nth-child(1) {
    margin-bottom: 0.9375rem;
  }
}

@media (max-width: 75em) {
  .hero__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .content-hero__buton-bg {
    width: 100%;
    background-color: transparent;
  }
}

@media (max-width: 35em) {
  .reviews__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .reviews__column {
    max-width: 100%;
  }
}

@media (max-width: 560px) {
  .reviews__text {
    max-width: 100%;
  }
}

@media (max-width: 20em) {
  body {
    font-size: 0.875rem;
  }

  .block__title {
    font-size: 2.1875rem;
  }

  .block__title {
    line-height: 2.1875rem;
  }

  .block__title {
    margin-bottom: 2.5rem;
  }

  .header__logo {
    margin-right: 1.25rem;
  }

  .menu__list {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }

  .hero {
    margin-bottom: 3.125rem;
  }

  .content__title {
    font-size: 2.6875rem;
  }

  .content-hero {
    gap: 1.25rem;
  }

  .content-hero {
    padding-right: 0.125rem;
  }

  .images-hero {
    gap: 0.625rem;
  }

  .features {
    padding-top: 3.125rem;
  }

  .features {
    margin-bottom: 3.125rem;
  }

  .features__column {
    gap: 0.9375rem;
  }

  .services {
    padding-top: 3.125rem;
  }

  .reviews {
    padding-top: 3.125rem;
  }

  .reviews {
    margin-bottom: 3.125rem;
  }

  .reviews__image {
    margin-bottom: 1.25rem;
  }

  .reviews__text {
    margin-bottom: 0.9375rem;
  }

  .reviews__name {
    margin-bottom: 0.625rem;
  }

  .location {
    padding-top: 3.125rem;
  }

  .location {
    margin-bottom: 3.125rem;
  }

  .by {
    padding-top: 3.125rem;
  }

  .by {
    margin-bottom: 3.125rem;
  }

  .by__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .by__title {
    margin-bottom: 1.875rem;
  }
}

@media (max-width: 54.6875em) {
  .services__content {
    max-width: 370px;
  }
}

@media (max-width: 52.3125em) {
  .reviews__row {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .reviews__column {
    width: 100%;
    max-width: 366px;
  }
}

@media (max-width: 49.5625em) {
  .services__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .services__body:nth-child(3) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .services__content {
    max-width: 100%;
  }
}

@media (max-width: 47.99875em) {
  .header__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .menu {
    max-width: 100%;
  }

  .menu__body {
    border-radius: 0.3125rem;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    background: rgb(36, 173, 149);
    background: -webkit-gradient(linear, left bottom, left top, from(rgb(36, 173, 149)), to(rgb(32, 15, 226)));
    background: linear-gradient(0deg, rgb(36, 173, 149) 0%, rgb(32, 15, 226) 100%);
    overflow: auto;
    -webkit-transition: all 0.6s ease 0s;
    transition: all 0.6s ease 0s;
  }

  .menu-open .menu__body {
    left: 0;
    -webkit-transition: all 0.6s ease 0s;
    transition: all 0.6s ease 0s;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 50px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 6.25rem;
  }

  .menu__item {
    color: #fff;
    font-size: 1.875rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #fff;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
    background-color: #fff;
  }

  .menu-open .icon-menu::before,
  .menu-open .icon-menu::after {
    background-color: #fff;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .content__title {
    letter-spacing: -3px;
  }
}

@media (max-width: 47.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 47.9375em) {
  .services__title {
    font-size: 1.5625rem;
  }

  .services__title {
    margin-bottom: 0.625rem;
  }

  .services__text {
    line-height: 1.5625rem;
  }

  .services__text p:nth-child(1) {
    margin-bottom: 0.3125rem;
  }
}

@media (max-width: 38.9375em) {
  .features__container {
    text-align: center;
  }

  .features__column {
    width: 100%;
  }

  .features__img {
    width: 100%;
  }

  .features__img img {
    max-width: 100%;
  }

  .features__text {
    text-align: left;
  }
}

@media (max-width: 26.5625em) {
  .content-hero__button {
    width: 100%;
    padding: 1.125rem 35%;
  }
}

@media (min-width: 20em) and (max-width: 76.875em) {
@supports (font-size: clamp( 0.875rem , 0.831043956rem  +  0.2197802198vw , 1rem )) {
    body {
      font-size: clamp( 0.875rem , 0.831043956rem  +  0.2197802198vw , 1rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.831043956rem  +  0.2197802198vw , 1rem )) {
    body {
      font-size: calc(0.875rem + 0.125 * (100vw - 20rem) / 56.875);
    }
}

@supports (font-size: clamp( 2.1875rem , 1.9017857143rem  +  1.4285714286vw , 3rem )) {
    .block__title {
      font-size: clamp( 2.1875rem , 1.9017857143rem  +  1.4285714286vw , 3rem );
    }
}

@supports not (font-size: clamp( 2.1875rem , 1.9017857143rem  +  1.4285714286vw , 3rem )) {
    .block__title {
      font-size: calc(2.1875rem + 0.8125 * (100vw - 20rem) / 56.875);
    }
}

@supports (line-height: clamp( 2.1875rem , 1.5281593407rem  +  3.2967032967vw , 4.0625rem )) {
    .block__title {
      line-height: clamp( 2.1875rem , 1.5281593407rem  +  3.2967032967vw , 4.0625rem );
    }
}

@supports not (line-height: clamp( 2.1875rem , 1.5281593407rem  +  3.2967032967vw , 4.0625rem )) {
    .block__title {
      line-height: calc(2.1875rem + 1.875 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-bottom: clamp( 2.5rem , 1.4010989011rem  +  5.4945054945vw , 5.625rem )) {
    .block__title {
      margin-bottom: clamp( 2.5rem , 1.4010989011rem  +  5.4945054945vw , 5.625rem );
    }
}

@supports not (margin-bottom: clamp( 2.5rem , 1.4010989011rem  +  5.4945054945vw , 5.625rem )) {
    .block__title {
      margin-bottom: calc(2.5rem + 3.125 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-right: clamp( 1.25rem , -1.0576923077rem  +  11.5384615385vw , 7.8125rem )) {
    .header__logo {
      margin-right: clamp( 1.25rem , -1.0576923077rem  +  11.5384615385vw , 7.8125rem );
    }
}

@supports not (margin-right: clamp( 1.25rem , -1.0576923077rem  +  11.5384615385vw , 7.8125rem )) {
    .header__logo {
      margin-right: calc(1.25rem + 6.5625 * (100vw - 20rem) / 56.875);
    }
}

@supports ((-moz-column-gap: clamp( 1.25rem , 0.8104395604rem  +  2.1978021978vw , 2.5rem )) or (column-gap: clamp( 1.25rem , 0.8104395604rem  +  2.1978021978vw , 2.5rem ))) {
    .menu__list {
      -webkit-column-gap: clamp( 1.25rem , 0.8104395604rem  +  2.1978021978vw , 2.5rem );
         -moz-column-gap: clamp( 1.25rem , 0.8104395604rem  +  2.1978021978vw , 2.5rem );
              column-gap: clamp( 1.25rem , 0.8104395604rem  +  2.1978021978vw , 2.5rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.25rem , 0.8104395604rem  +  2.1978021978vw , 2.5rem )) or (column-gap: clamp( 1.25rem , 0.8104395604rem  +  2.1978021978vw , 2.5rem ))) {
    .menu__list {
      -webkit-column-gap: calc(1.25rem + 1.25 * (100vw - 20rem) / 56.875);
         -moz-column-gap: calc(1.25rem + 1.25 * (100vw - 20rem) / 56.875);
              column-gap: calc(1.25rem + 1.25 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-bottom: clamp( 3.125rem , 2.0260989011rem  +  5.4945054945vw , 6.25rem )) {
    .hero {
      margin-bottom: clamp( 3.125rem , 2.0260989011rem  +  5.4945054945vw , 6.25rem );
    }
}

@supports not (margin-bottom: clamp( 3.125rem , 2.0260989011rem  +  5.4945054945vw , 6.25rem )) {
    .hero {
      margin-bottom: calc(3.125rem + 3.125 * (100vw - 20rem) / 56.875);
    }
}

@supports (font-size: clamp( 2.6875rem , 1.9622252747rem  +  3.6263736264vw , 4.75rem )) {
    .content__title {
      font-size: clamp( 2.6875rem , 1.9622252747rem  +  3.6263736264vw , 4.75rem );
    }
}

@supports not (font-size: clamp( 2.6875rem , 1.9622252747rem  +  3.6263736264vw , 4.75rem )) {
    .content__title {
      font-size: calc(2.6875rem + 2.0625 * (100vw - 20rem) / 56.875);
    }
}

@supports (gap: clamp( 1.25rem , 1.0302197802rem  +  1.0989010989vw , 1.875rem )) {
    .content-hero {
      gap: clamp( 1.25rem , 1.0302197802rem  +  1.0989010989vw , 1.875rem );
    }
}

@supports not (gap: clamp( 1.25rem , 1.0302197802rem  +  1.0989010989vw , 1.875rem )) {
    .content-hero {
      gap: calc(1.25rem + 0.625 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-right: clamp( 0.125rem , -0.2706043956rem  +  1.978021978vw , 1.25rem )) {
    .content-hero {
      padding-right: clamp( 0.125rem , -0.2706043956rem  +  1.978021978vw , 1.25rem );
    }
}

@supports not (padding-right: clamp( 0.125rem , -0.2706043956rem  +  1.978021978vw , 1.25rem )) {
    .content-hero {
      padding-right: calc(0.125rem + 1.125 * (100vw - 20rem) / 56.875);
    }
}

@supports (gap: clamp( 0.625rem , 0.2513736264rem  +  1.8681318681vw , 1.6875rem )) {
    .images-hero {
      gap: clamp( 0.625rem , 0.2513736264rem  +  1.8681318681vw , 1.6875rem );
    }
}

@supports not (gap: clamp( 0.625rem , 0.2513736264rem  +  1.8681318681vw , 1.6875rem )) {
    .images-hero {
      gap: calc(0.625rem + 1.0625 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-top: clamp( 3.125rem , 2.0260989011rem  +  5.4945054945vw , 6.25rem )) {
    .features {
      padding-top: clamp( 3.125rem , 2.0260989011rem  +  5.4945054945vw , 6.25rem );
    }
}

@supports not (padding-top: clamp( 3.125rem , 2.0260989011rem  +  5.4945054945vw , 6.25rem )) {
    .features {
      padding-top: calc(3.125rem + 3.125 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-bottom: clamp( 3.125rem , 2.0260989011rem  +  5.4945054945vw , 6.25rem )) {
    .features {
      margin-bottom: clamp( 3.125rem , 2.0260989011rem  +  5.4945054945vw , 6.25rem );
    }
}

@supports not (margin-bottom: clamp( 3.125rem , 2.0260989011rem  +  5.4945054945vw , 6.25rem )) {
    .features {
      margin-bottom: calc(3.125rem + 3.125 * (100vw - 20rem) / 56.875);
    }
}

@supports (gap: clamp( 0.9375rem , 0.7177197802rem  +  1.0989010989vw , 1.5625rem )) {
    .features__column {
      gap: clamp( 0.9375rem , 0.7177197802rem  +  1.0989010989vw , 1.5625rem );
    }
}

@supports not (gap: clamp( 0.9375rem , 0.7177197802rem  +  1.0989010989vw , 1.5625rem )) {
    .features__column {
      gap: calc(0.9375rem + 0.625 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-top: clamp( 3.125rem , 2.0260989011rem  +  5.4945054945vw , 6.25rem )) {
    .services {
      padding-top: clamp( 3.125rem , 2.0260989011rem  +  5.4945054945vw , 6.25rem );
    }
}

@supports not (padding-top: clamp( 3.125rem , 2.0260989011rem  +  5.4945054945vw , 6.25rem )) {
    .services {
      padding-top: calc(3.125rem + 3.125 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-top: clamp( 3.125rem , 2.0260989011rem  +  5.4945054945vw , 6.25rem )) {
    .reviews {
      padding-top: clamp( 3.125rem , 2.0260989011rem  +  5.4945054945vw , 6.25rem );
    }
}

@supports not (padding-top: clamp( 3.125rem , 2.0260989011rem  +  5.4945054945vw , 6.25rem )) {
    .reviews {
      padding-top: calc(3.125rem + 3.125 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-bottom: clamp( 3.125rem , 2.0260989011rem  +  5.4945054945vw , 6.25rem )) {
    .reviews {
      margin-bottom: clamp( 3.125rem , 2.0260989011rem  +  5.4945054945vw , 6.25rem );
    }
}

@supports not (margin-bottom: clamp( 3.125rem , 2.0260989011rem  +  5.4945054945vw , 6.25rem )) {
    .reviews {
      margin-bottom: calc(3.125rem + 3.125 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-bottom: clamp( 1.25rem , 1.0302197802rem  +  1.0989010989vw , 1.875rem )) {
    .reviews__image {
      margin-bottom: clamp( 1.25rem , 1.0302197802rem  +  1.0989010989vw , 1.875rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 1.0302197802rem  +  1.0989010989vw , 1.875rem )) {
    .reviews__image {
      margin-bottom: calc(1.25rem + 0.625 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-bottom: clamp( 0.9375rem , 0.7177197802rem  +  1.0989010989vw , 1.5625rem )) {
    .reviews__text {
      margin-bottom: clamp( 0.9375rem , 0.7177197802rem  +  1.0989010989vw , 1.5625rem );
    }
}

@supports not (margin-bottom: clamp( 0.9375rem , 0.7177197802rem  +  1.0989010989vw , 1.5625rem )) {
    .reviews__text {
      margin-bottom: calc(0.9375rem + 0.625 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-bottom: clamp( 0.625rem , 0.5151098901rem  +  0.5494505495vw , 0.9375rem )) {
    .reviews__name {
      margin-bottom: clamp( 0.625rem , 0.5151098901rem  +  0.5494505495vw , 0.9375rem );
    }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.5151098901rem  +  0.5494505495vw , 0.9375rem )) {
    .reviews__name {
      margin-bottom: calc(0.625rem + 0.3125 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-top: clamp( 3.125rem , 2.0260989011rem  +  5.4945054945vw , 6.25rem )) {
    .location {
      padding-top: clamp( 3.125rem , 2.0260989011rem  +  5.4945054945vw , 6.25rem );
    }
}

@supports not (padding-top: clamp( 3.125rem , 2.0260989011rem  +  5.4945054945vw , 6.25rem )) {
    .location {
      padding-top: calc(3.125rem + 3.125 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-bottom: clamp( 3.125rem , 2.0260989011rem  +  5.4945054945vw , 6.25rem )) {
    .location {
      margin-bottom: clamp( 3.125rem , 2.0260989011rem  +  5.4945054945vw , 6.25rem );
    }
}

@supports not (margin-bottom: clamp( 3.125rem , 2.0260989011rem  +  5.4945054945vw , 6.25rem )) {
    .location {
      margin-bottom: calc(3.125rem + 3.125 * (100vw - 20rem) / 56.875);
    }
}

@supports (padding-top: clamp( 3.125rem , 2.0260989011rem  +  5.4945054945vw , 6.25rem )) {
    .by {
      padding-top: clamp( 3.125rem , 2.0260989011rem  +  5.4945054945vw , 6.25rem );
    }
}

@supports not (padding-top: clamp( 3.125rem , 2.0260989011rem  +  5.4945054945vw , 6.25rem )) {
    .by {
      padding-top: calc(3.125rem + 3.125 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-bottom: clamp( 3.125rem , 2.0260989011rem  +  5.4945054945vw , 6.25rem )) {
    .by {
      margin-bottom: clamp( 3.125rem , 2.0260989011rem  +  5.4945054945vw , 6.25rem );
    }
}

@supports not (margin-bottom: clamp( 3.125rem , 2.0260989011rem  +  5.4945054945vw , 6.25rem )) {
    .by {
      margin-bottom: calc(3.125rem + 3.125 * (100vw - 20rem) / 56.875);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 1.2156593407rem  +  3.2967032967vw , 3.75rem )) {
    .by__title {
      margin-bottom: clamp( 1.875rem , 1.2156593407rem  +  3.2967032967vw , 3.75rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.2156593407rem  +  3.2967032967vw , 3.75rem )) {
    .by__title {
      margin-bottom: calc(1.875rem + 1.875 * (100vw - 20rem) / 56.875);
    }
}
}

@media (min-width: 47.9375em) and (max-width: 75em) {
@supports (font-size: clamp( 1.5625rem , -1.4266743649rem  +  6.2355658199vw , 3.25rem )) {
    .services__title {
      font-size: clamp( 1.5625rem , -1.4266743649rem  +  6.2355658199vw , 3.25rem );
    }
}

@supports not (font-size: clamp( 1.5625rem , -1.4266743649rem  +  6.2355658199vw , 3.25rem )) {
    .services__title {
      font-size: calc(1.5625rem + 1.6875 * (100vw - 47.9375rem) / 27.0625);
    }
}

@supports (margin-bottom: clamp( 0.625rem , -2.9177251732rem  +  7.3903002309vw , 2.625rem )) {
    .services__title {
      margin-bottom: clamp( 0.625rem , -2.9177251732rem  +  7.3903002309vw , 2.625rem );
    }
}

@supports not (margin-bottom: clamp( 0.625rem , -2.9177251732rem  +  7.3903002309vw , 2.625rem )) {
    .services__title {
      margin-bottom: calc(0.625rem + 2 * (100vw - 47.9375rem) / 27.0625);
    }
}

@supports (line-height: clamp( 1.5625rem , 1.0089491917rem  +  1.1547344111vw , 1.875rem )) {
    .services__text {
      line-height: clamp( 1.5625rem , 1.0089491917rem  +  1.1547344111vw , 1.875rem );
    }
}

@supports not (line-height: clamp( 1.5625rem , 1.0089491917rem  +  1.1547344111vw , 1.875rem )) {
    .services__text {
      line-height: calc(1.5625rem + 0.3125 * (100vw - 47.9375rem) / 27.0625);
    }
}

@supports (margin-bottom: clamp( 0.3125rem , -0.7946016166rem  +  2.3094688222vw , 0.9375rem )) {
    .services__text p:nth-child(1) {
      margin-bottom: clamp( 0.3125rem , -0.7946016166rem  +  2.3094688222vw , 0.9375rem );
    }
}

@supports not (margin-bottom: clamp( 0.3125rem , -0.7946016166rem  +  2.3094688222vw , 0.9375rem )) {
    .services__text p:nth-child(1) {
      margin-bottom: calc(0.3125rem + 0.625 * (100vw - 47.9375rem) / 27.0625);
    }
}
}

@media (any-hover: hover) {
  .menu__item:hover {
    color: rgb(71, 55, 255);
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
  }

  .content-hero__button:hover {
    -webkit-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    -webkit-box-shadow: 0 30px 60px 0 rgba(68, 117, 242, 0.5);
            box-shadow: 0 30px 60px 0 rgba(68, 117, 242, 0.5);
    opacity: 0.7;
  }
}